<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   <context-param>
  	       <param-name>contextConfigLocation</param-name>
	       <param-value>/WEB-INF/spring/*.xml</param-value>
   </context-param>
   <!-- <servlet>
       <servlet-name>hessian-service</servlet-name>
       <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
       <init-param>
           <param-name>home-class</param-name>
           <param-value>
               com.dawning.gridview.app.gridview.webapp.jedis.hessian.HelloServiceImpl
           </param-value>
       </init-param>
       <init-param>
            <param-name>home-api</param-name>
            <param-value>com.dawning.gridview.app.gridview.webapp.jedis.hessian.HelloService</param-value>
       </init-param>
   </servlet> -->
	<!-- <servlet>
	    <servlet-name>cxfservlet</servlet-name>
	    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>cxfservlet</servlet-name>
	    <url-pattern>/webservice/*</url-pattern>
	</servlet-mapping> -->
   <servlet>
      <servlet-name>springmvc</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <!-- hessian -->
   <servlet>
      <servlet-name>hessianServlet</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>Kaptcha</servlet-name>
      <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
      <init-param>  
		    <param-name>kaptcha.border</param-name>  
		    <param-value>no</param-value>  
	  </init-param>
   </servlet>
	  <!--  <servlet> 
			    <servlet-name>ConnectorServlet</servlet-name> 
			    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
			    <init-param> 
			        <param-name>XMLConfig</param-name> 
			        <param-value>/WEB-INF/ckfinder.xml</param-value> 
			    </init-param> 
			    <init-param> 
			        <param-name>debug</param-name> 
			        <param-value>true</param-value> 
			    </init-param> 
			    <load-on-startup>1</load-on-startup> 
	    </servlet> 
		<servlet-mapping>
		    <servlet-name>ConnectorServlet</servlet-name> 
		    <url-pattern>/ckfinder_2_5_1/core/connector/java/connector.java</url-pattern> 
		</servlet-mapping> -->
   <servlet-mapping>
      <servlet-name>Kaptcha</servlet-name>
      <url-pattern>/Kaptcha.jpg</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>springmvc</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>hessianServlet</servlet-name>
      <url-pattern>/hessian/*</url-pattern>
   </servlet-mapping>
  <!--  <servlet-mapping>
     <servlet-name>hessian-service</servlet-name>
     <url-pattern>/hessian</url-pattern>
   </servlet-mapping> -->
   <listener>
    <listener-class>com.dawning.gridview.app.gridview.webapp.jedis.listener.Log4jInitListener</listener-class>
  </listener>
</web-app>