<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawning.gridview.app.gridview.webapp.jedis.mapper.StudentDaoIMapper">
<resultMap id="userResultMap" type="student">
  <id property="id" column="id" />
  <result property="name" column="name"/>
  <result property="birthDate" column="birth_date"/>
</resultMap>
<select id="getStudentById" parameterType="java.io.Serializable" resultMap="userResultMap">
	    select * from student where id=#{id}
</select>
<select id="getStudentList" resultType="student">
	    select * from student
</select>
<insert id="addStudent" parameterType="student">
	     insert into student(id,name,birth_date) values(#{id},#{name},#{birthDate})
</insert>
<insert id="deleteStudent" parameterType="java.io.Serializable">
	     delete from student where id=#{id}
</insert>
</mapper>